<%= form_for ([@user, @mycontact, @note]) do |f| %>
  <div class="field">
    <%= f.label :note, "Note" %><br>
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
