<table class="table">
  <thead>
    <tr>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "notes/note_row", collection: notes_list %>

  </tbody>
</table>
