<tr>
    <td><%= meeting_row.meeting %></td>
    <td><%= link_to 'Show', user_mycontact_meeting_path(@user, meeting_row.mycontact, meeting_row) %></td>
    <td><%= link_to 'Edit', edit_user_mycontact_meeting_path(@user, meeting_row.mycontact, meeting_row)%></td>
    <td><%= link_to 'Destroy', user_mycontact_meeting_path(@user, meeting_row.mycontact, meeting_row), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>