<table class="table">
  <thead>
    <tr>
      <th scope="col">Meeting</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "meeting_row", collection: meetings_list %>

  </tbody>
</table>
