<table>
  <thead>
    <tr>
      <th>Meeting</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "meeting_row", collection: meetings_list %>

  </tbody>
</table>