<div class="container-fluid">
  <h1>Listing meetings</h1>

    <%= render partial: "meetings_list", object: @meetings %>

  <br>


  <% if @mycontact %>
    <%= link_to 'New Meeting', new_user_mycontact_meeting_path(@user, @mycontact, @meeting) %>
<% end %>
</div>
