<div class="container-fluid">
  <h3>New Meeting</h3>
<br>
  <%= render 'form' %>

  <%= link_to 'Contact Details', user_mycontact_path(@user, @mycontact) %> |
  <%= link_to 'All Contacts', user_mycontacts_path %>
</div>
