
<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @meetings.meeting %>
</p>

<%= link_to 'Edit', edit_user_mycontact_meeting_path %> |
<%= link_to 'All Contacts', user_mycontacts_path %>
