<div class="container-fluid">
  <h1>New Contact</h1>

    <% if @user.status == "free" %>
    <%= render partial: 'form' %>
  <% else %>
    <%= render partial: 'form_premium' %>
  <% end %>

  <%= link_to 'Back', user_mycontacts_path %>
</div>
