// Place all the styles related to the mycontacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




body
{
	line-height: 1.6em;
}

h1 
{
	margin: 10px;
	text-align: left;
	font-size: 24px;
	color: #039;
}

p 
{
	margin: 10px;
	text-align: left;
	font-size: 12px;
	color: #039;
}

li 
{
	list-style-type: none;
	margin: 10px;
	text-align: left;
	font-size: 12px;
	color: #039;
}

#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 10px;
	width: 680px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
	column-width: 200px;
}
#hor-minimalist-a td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
}
 